/* TOP BAR */
.topButton {
    -fx-background-color: transparent;
}

.topButton2 {
    -fx-background-color: transparent;
}

.topGlyph {
    -fx-fill: white;
}

.topGlyph2 {
    -fx-fill: rgba(0,0,0,0.5);
}

.topGlyph3 {
    -fx-fill: white;
}

.topButton:hover {
    -fx-background-color: white;
}

.topButton2:hover {
    -fx-background-color: rgba(0,0,0,0.5);
}

.topButton3:hover {
    -fx-background-color: white;
}

.topButton:hover *.topGlyph {
    -fx-fill: #FFB835;
}

.topButton2:hover *.topGlyph2 {
    -fx-fill: white;
}

.topButton3:hover *.topGlyph3 {
    -fx-fill: #8BC1E7;
}

/* REGISTER FORM */

.loginButton {
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-text-fill: white;
    -fx-background-radius: 2px;
}

.loginButton:hover {
    -fx-background-color: rgba(255,255,255,0.5);
}

.registerButton {
    -fx-background-color: #FDBC12;
    -fx-text-fill: white;
    -fx-background-radius: 2px;
}

.submitButton {
    -fx-background-color: #F68F32;
    -fx-text-fill: white;
    -fx-background-radius: 2px;
}

.submitButton:hover {
    -fx-background-color: #FAC18F;
}

.submitButton2 {
    -fx-background-color: #8BC1E7;
    -fx-text-fill: white;
    -fx-background-radius: 2px;
}

.submitButton2:hover {
    -fx-background-color: #BFDDF1;
}

.registerButton:hover {
    -fx-background-color: #FDD468;
}

.textField {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 2px;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.combo-box-base {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 2px;
}

.combo-box .list-cell {
    -fx-text-fill: rgba(0,0,0,0.4);
}

.combo-box .cell:selected {
    -fx-text-fill: rgba(0,0,0,0.8);
}

.combo-box .arrow {
    -fx-background-color: rgba(0,0,0,0.4);
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-text-fill: white;
    -fx-background-color: #F68F32;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: rgba(0,0,0,0.4);
    -fx-text-fill: rgba(0,0,0,0.8);
}

.date-picker .arrow {
    -fx-background-color: rgba(0,0,0,0.4);
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: rgba(0,0,0,0.3);
    -fx-border-width: 0px 0px 0px 1px;
}

.registerField {
    -fx-background-color: transparent;
    -fx-border-color: rgba(0,0,0,0.3);
    -fx-border-radius: 2px;
    -fx-prompt-text-fill: rgba(0,0,0,0.4);
    -fx-text-fill: rgba(0,0,0,0.8);
}

/* MAIN SCENE TEMPLATE */

.sceneButton {
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.sceneButton:hover, .sceneButtonSelected {
    -fx-background-color: white;
}

.sceneButton:hover *.label, .sceneButtonSelected .label {
    -fx-text-fill: #F58233;
}

.sceneButton:hover *.sceneButtonGlyph, .sceneButtonGlyphSelected {
    -fx-fill: #F58233;
}

.progress-indicator {
    -fx-progress-color: #F8A032;
}

.progress-indicator .indicator {
    -fx-background-color: white;
    -fx-border-color: rgba(0,0,0,0.2);
}

.progress-indicator .percentage {
    -fx-fill: transparent;
}

.progress-indicator .tick {
    -fx-background-color: transparent;
}

.axis-label {
    -fx-text-fill: #818181;
    -fx-font-family: "PingFang HK";
}

.chart-plot-background {

}

.chartMeasure {

}

.circleAdd:hover {
    -fx-fill: #F8A032;
}

.circleAdd2:hover {
    -fx-fill: #8BC1E7;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: rgba(0,0,0,0.3);
    -fx-border-radius: 2px;
}